[Unit]
Description=OneBrain scheduled entry (echo--HOME-100--a-b-C--dir--C--My-Vau-3d5faff4)

[Service]
Type=oneshot
ExecStart=/bin/echo "$$HOME" "100%%" "a b" "C:\\dir\\" "C:\\My Vault\\" "semi;colon" "it's" "quote\"inside" --vault /v/ob-1
