[Unit]
Description=OneBrain scheduled entry (echo--HOME-100--a-b-C--dir--C--My-Vau-c7ba3b10)

[Service]
Type=oneshot
ExecStart=/bin/echo "$$HOME" "100%%" "a b" "C:\\dir\\" "C:\\My Vault\\" "semi;colon" "it's" "quote\"inside" "C:\\dir\\\"q\"" a&b<c>d "" --vault /v/ob-1
Environment="ONEBRAIN_VAULT=/v/ob-1"
